version: "3.8"

services:
  db:
    image: postgres:16-alpine
    container_name: ansar_forms_db
    environment:
      POSTGRES_DB: ansar_forms
      POSTGRES_USER: ansar_user
      POSTGRES_PASSWORD: ansar_password
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ansar_forms_backend
    env_file:
    - ./backend/.env
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_USER: ansar_user
      DB_PASSWORD: ansar_password
      DB_NAME: ansar_forms
      BASE_URL: "https://chgumk.ru"
    depends_on:
      - db
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "https://chgumk.ru/api" 
    container_name: ansar_forms_frontend
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  db_data: